body, html {
  margin: 0; padding: 0;
  height: 100%;
  overflow: hidden;
  background-color: rgb(23, 33, 52);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: none;
}

#root canvas {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: 'Goblin';
  src: url('../assets/fonts/AGoblinAppears.otf') format('opentype')
}

@font-face {
  font-family: 'FZERO';
  src: url('../assets/fonts/fzero_gp_legend_font.ttf') format('truetype');
}

.app {
  display: table;
  width: 100%;
  height: 100%;
}

.app .container {
  width: 100%;
  height: 100%;
  display: table;
  color: aliceblue;
}

@keyframes ARROW-PUMPING {
  0%   {
    border-width: 50px;
  }
  50%  {
    border-width: 45px;
  }
  100% {
    border-width: 50px;
  }
}

.app .container .arrow {
  position: fixed;
  bottom: 0;
  width: 0;
  height: 0;
  margin: 40px;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  animation-name: ARROW-PUMPING;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.app .container .arrow.left {
  left: 0;
  border-right: 50px solid rgba(144, 164, 174, .7);
}
/* .app .container .arrow.left:hover {
  border-right: 50px solid rgba(255, 82, 82, .7);
} */

.app .container .arrow.right {
  right: 0;
  border-left: 50px solid rgba(144, 164, 174, .7);
}
/* .app .container .arrow.right:hover {
  border-left: 50px solid rgba(255, 82, 82, .7);
} */

@keyframes FONT-SIZE-ANIMATION {
  0%   { font-size: 15pt; }
  50%  { font-size: 18pt; }
  100% { font-size: 15pt; }
}

.app .message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: 'Goblin';
  font-size: 1em;
  text-transform: uppercase;
  animation: FONT-SIZE-ANIMATION 1s infinite;
  -webkit-animation: FONT-SIZE-ANIMATION 1s infinite;
  -moz-animation:    FONT-SIZE-ANIMATION 1s infinite;
  -o-animation:      FONT-SIZE-ANIMATION 1s infinite;
  color: rgb(255,235,132);
  background-color: rgb(23, 33, 52);
}

.app .message p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.app .game_over {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: 'Goblin';
  font-size: 20pt;
  text-transform: uppercase;
  color: rgb(255,235,132);
}

.app .game_over .content {
  margin-top: -20px;
  top: 50%;
  left: 50%;
}

.app .game_over .content .wrapper {
  transform: translate(-50%, -50%);
}

.goose_gameover {
  display: inline;
  content: url("../assets/textures/goose_gameover.png");
}

.app .game_over.content .play_again {
  animation:         FONT-SIZE-ANIMATION 1s infinite;
  -webkit-animation: FONT-SIZE-ANIMATION 1s infinite;
  -moz-animation:    FONT-SIZE-ANIMATION 1s infinite;
  -o-animation:      FONT-SIZE-ANIMATION 1s infinite;
}

.app .game_over.content .play_again a,
.app .game_over.content .play_again a:hover,
.app .game_over.content .play_again a:visited {
  color: rgb(255,235,132);
  text-decoration: none;
}

.app .portrait {
  height: 100%;
  width: 100%;
  background: rgb(23, 33, 52) url('../assets/phone_anim.gif') center center no-repeat;
}

.app .game {
  display: table-row;
  width: 100%;
  height: 100%;
}

.app .game.hideField {
  display: none;
}

.app .game > .right {
  display: table-cell;
  max-width: 767px;
}

.app .game > .left {
  font-family: 'Goblin';
  display: table-cell;
  overflow: hidden;
  width: 30%;
  background: url("../assets/interface_bg.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;;
  color: rgb(255,235,132);
  vertical-align: top;
  text-align: center;
  padding-top: 15px;
}

.app .game > .left .black {
  color: rgb(255, 255, 255);
}

.app .game > .left .leaderboard {
  padding-bottom: 5px;
  font-size: 0.75em;
}

.app .game > .left .leaderboard.blinking {
  opacity: 0;
}

.app .game > .left .status {
  padding-bottom: 15px;
  font-size: 0.65em;
}

.app .game > .left .status .engine {
  display: inline;
}

.app .game > .left .status .engine.alive {
  content: url("../assets/textures/engine_alive.png");
  width: 25px;
  height: 29px;
  margin: 0 5px;
}

.app .game > .left .status .engine.dead {
  content: url("../assets/textures/engine_dead.png");
  width: 25px;
  height: 29px;
  margin: 0 5px;
}

.app .game > .left .profile {
  padding-bottom: 25px;
  font-size: 0.75em;
}