@font-face {
  font-family: 'Goblin';
  src: url('../assets/fonts/AGoblinAppears.otf') format('opentype')
}

@font-face {
  font-family: 'FZERO';
  src: url('../assets/fonts/fzero_gp_legend_font.ttf') format('truetype');
}

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */

.app  {
  display: table;
  width: 100%;
  height: 100%;
}

.app .container {
  display: table-row;
  width: 100%;
  height: 100%;
}

.app .container > .right {
  display: table-cell;
  width: 75%;
}

.app .container > .left {
  font-family: 'Goblin';
  display: table-cell;
  width: 25%;
  background: url("../assets/interface_bg.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;;
  color: rgb(224, 224, 97);
  vertical-align: top;
  text-align: center;
  padding-top: 30px;
}

.app .container > .left .black {
  color: #000000;
}

.app .container > .left .leaderboard {
  padding-bottom: 25px;
  font-size: 1em;
}

.app .container > .left .status {
  padding-bottom: 35px;
  font-size: 1em;
}

.app .container > .left .status .engine {
  display: inline;
  min-width: 30px;
  height: 45px;
}

.app .container > .left .status .engine.alive {
  content: url("../assets/textures/engine_alive.png");
}

.app .container > .left .status .engine.dead {
  content: url("../assets/textures/engine_dead.png");
}

.app .container > .left .profile {
  padding-bottom: 25px;
  font-size: 1em;
}