body, html {
  margin: 0; padding: 0;
  height: 100%;
  overflow: hidden;
  background-color: rgb(23, 33, 52);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: none;
}

@font-face {
  font-family: 'Goblin';
  src: url('../assets/fonts/AGoblinAppears.otf') format('opentype')
}

@font-face {
  font-family: 'FZERO';
  src: url('../assets/fonts/fzero_gp_legend_font.ttf') format('truetype');
}

@keyframes ARROW-PUMPING {
  0%    {
    border-width: 50px;
  }
  50%   {
    border-width: 45px;
  }
  100%  {
    border-width: 50px;
  }
}

@keyframes FONT-SIZE-ANIMATION {
  0%   { font-size: 15pt; }
  50%  { font-size: 18pt; }
  100% { font-size: 15pt; }
}

@keyframes NOTIF-FONT-SIZE-ANIMATION {
  0%   { font-size: 0.6em; }
  50%  { font-size: 0.75em; }
  100% { font-size: 0.6em; }
}


#root canvas {
  width: 100%;
  height: 100%;
}

.app {
  display: table;
  width: 100%;
  height: 100%;

  .container {
      width: 100%;
      height: 100%;
      display: table;
      color: aliceblue;

    .arrow {
      position: fixed;
      bottom: 0;
      width: 0;
      height: 0;
      margin: 40px;
      border-top: 50px solid transparent;
      border-bottom: 50px solid transparent;
      animation-name: ARROW-PUMPING;
      animation-duration: 1s;
      animation-iteration-count: infinite;

      &.left {
        left: 0;
        border-right: 50px solid rgba(144, 164, 174, .7);
      }

      &.right {
        right: 0;
        border-left: 50px solid rgba(144, 164, 174, .7);
      }
    }
  }

  .message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Goblin';
    font-size: 1em;
    text-transform: uppercase;
    animation: FONT-SIZE-ANIMATION 1s infinite;
    -webkit-animation: FONT-SIZE-ANIMATION 1s infinite;
    -moz-animation:    FONT-SIZE-ANIMATION 1s infinite;
    -o-animation:      FONT-SIZE-ANIMATION 1s infinite;
    color: rgb(255,235,132);
    background-color: rgb(23, 33, 52);

    p {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &.portrait {
      height: 100%;
      width: 100%;
      background: rgb(23, 33, 52) url('../assets/phone_anim.gif') center center no-repeat;
      z-index: 10;
    }
  }

  .notification_container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    color: rgb(255,235,132);

    .notification_content {
      margin-top: 25%;

      font-family: 'Goblin';
      font-size: 0.5em;
      animation:         NOTIF-FONT-SIZE-ANIMATION 1s infinite;
      -webkit-animation: NOTIF-FONT-SIZE-ANIMATION 1s infinite;
      -moz-animation:    NOTIF-FONT-SIZE-ANIMATION 1s infinite;
      -o-animation:      NOTIF-FONT-SIZE-ANIMATION 1s infinite;
    }
  }


  .game_over {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: 'Goblin';
    font-size: 20pt;
    text-transform: uppercase;
    color: rgb(255,235,132);

    &.content {
      margin-top: -20px;
      top: 50%;
      left: 50%;

      .wrapper {
        transform: translate(-50%, -50%);

        .goose_gameover {
          display: inline;
          content: url("../assets/textures/goose_gameover.png");
        }
      }

      .play_again {
        animation:         FONT-SIZE-ANIMATION 1s infinite;
        -webkit-animation: FONT-SIZE-ANIMATION 1s infinite;
        -moz-animation:    FONT-SIZE-ANIMATION 1s infinite;
        -o-animation:      FONT-SIZE-ANIMATION 1s infinite;
      
        a, a:hover, a:visited {
          color: rgb(255,235,132);
          text-decoration: none;
        }
      }
    }
  }

  .game {
    display: table-row;
    width: 100%;
    height: 100%;

    & > .right {
      display: table-cell;
      max-width: 767px;
    }

    & > .left {
      position: relative;
      font-family: 'Goblin';
      display: table-cell;
      overflow: hidden;
      width: 30%;
      background: url("../assets/interface_bg.png") no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;;
      color: rgb(255,235,132);
      vertical-align: top;
      text-align: center;
      padding-top: 15px;

      .leaderboard {
        position: relative;
        padding-bottom: 5px;
        font-size: 0.75em;

        &.blinking {
          opacity: 0;
        }
      }

      .black {
        color: rgb(255, 255, 255);
      }

      .status {
        padding-bottom: 15px;
        font-size: 0.65em;

        .engine {
          display: inline;

          &.alive {
            content: url("../assets/textures/engine_alive.png");
            width: 25px;
            height: 29px;
            margin: 0 5px;
          }

          &.dead {
            content: url("../assets/textures/engine_dead.png");
            width: 25px;
            height: 29px;
            margin: 0 5px;
          }
        }
      }

      .stats-spinner {
        position: absolute;
        height: 50%;
        width: 100%;
      
        .spinner {
          position: absolute;
          height: 100%;
          width: 100%;
          background: url('../assets/loader.gif') center center no-repeat;
          background-size: 150px;
        }
      }

      .profile {
        padding-bottom: 25px;
        font-size: 0.75em;
      }
    }

    .hideField {
      display: none;
    }
  }
}
