{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": true
        }
      },
      "@babel/preset-react"
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-react-jsx",
      {
        "pragma": "h"
      }
    ],
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ]
  ],
  "env": {
    "production": {
      "plugins": [
          "@babel/plugin-transform-react-constant-elements",
          "@babel/plugin-transform-react-inline-elements",
          "babel-plugin-transform-react-class-to-function",
          "transform-remove-console"
        ],
      "comments": false
    }
  },
  "sourceMaps": "inline",
  "retainLines": true
}